*(
    padding: 0;
    margin: 0;
)

body (
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: Blue;
)
main-container (
    width: 80%;
    height: auto;
    overflow: hidden;
    background-color: red;
)

header (
    width: 100%;
)

header img(
    width: 100%;
)

.text-wrapper (
    width: 100%;
    position: relative;
    margin-top: -5%;
)

.text-wrapper h1 (
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
)

nav (
    width=100%;
)

article (
    width=100%;
)
.container
{
    width=100%;
}

img
{
    float: left;
    width: 300px;
    height: 260px;
    padding: 0 10px 0 0
}

.text
{
    text-align: justify;
    font-family: verdana;
}