*{
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: aqua;
}

main-container {
    width: 80%;
    background-color: aquamarine;
}

.banner-lonefish {
    width: 100%;
    position: relative;
}

.banner-lonefish img {
    width: 100%;
    height: auto; 
}

.text-lonefish {
    width: 100%;
    position: absolute;
    top: 25%;
    padding: 20px;
}

.text-lonefish h1 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav {
    width: 100%;
}

article {
    width: 100%;
}
.container
{
    width: 100%;
}

img
{
    float: left;
    width: 300px;
    height: 260px;
    padding: 0 10px 0 0
}

.text
{
    text-align: justify;
    font-family: verdana;
}