*{-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
      box-sizing:border-box;
    }

html, body{
    margin: 0; 
    background-color: white;
    padding: 0;
}


main-container {
     width: 1000px;
     margin:0 auto;
     background-color: aqua;
}
content-container {
    width: 80%;
    margin: 0 auto;
   background-color: aquamarine;
}

header {
    width: 100%;
    height: auto;
}

.lonefish-banner {
    width: 100%; 
    position: relative;
}

.lonefish-banner img {
   width: 100%;
    height: auto; 
}

.lonefish-text {
    /* width: 100%; */
    position: absolute;
    top: 25%;
    padding: 20px;
}

.lonefish-text h1 {
    text-align: top;
    position: absolute;
    top: 20%;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav {
    width: 100%;
}

article {
    width: 100%;
}
.container
{
    width: 100%;
}

img
{
    float: left;
    width: 300px;
    height: 260px;
    padding: 0 10px 0 0
}

.text
{
    text-align: justify;
    font-family: verdana;
    position: absolute;
}
