body {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;     
}

header, footer {
    background-color: lightgreen;
}

.site-title {
    color: blue;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
  }

  ul {
    list-style-type: square;
  }

li:nth-child(odd){
    background: yellow;
}

nav a {
    text-decoration: none;
    color:white;
    background: black;
    border-style: solid;
    border-color: red;
    border-width: 1px;
  }

  nav a:hover {
    background: purple;
  }



  















